{% load i18n %}
<!DOCTYPE html>
<html>

<head>
<title>{#quickpaste_dlg.title}</title>
<link href="{{ url_timymce }}plugins/quickpaste/js/uploadify/uploadify.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="{{ url_timymce }}plugins/quickpaste/js/uploadify/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{{ url_timymce }}plugins/quickpaste/js/uploadify/swfobject.js"></script>
<script type="text/javascript" src="{{ url_timymce }}plugins/quickpaste/js/uploadify/jquery.uploadify.v2.1.4.min.js"></script>
<script type="text/javascript" src="{{ url_timymce }}tiny_mce_popup.js"></script>
<script type="text/javascript" src="{{ url_timymce }}plugins/quickpaste/js/dialog.js"></script>
<script type="text/javascript">
var url_tinymce = '{{ url_timymce }}',
    url_button = '{{ url_button }}',
    url_upload = '{% url quickpaste %}',
    session_key = '{{ session_key }}';
</script>
<script type="text/javascript" src="{{ url_timymce }}plugins/quickpaste/js/quickpaste.js"></script>
</head>

<body>

<form action="#" style="text-align:center;">
<p>{% trans 'Select a file from your computer to insert the text' %}</p>
{{ form.upload }}
</form>

</body>

</html>